In [82]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [83]:
df = pd.read_csv('data/results.csv', usecols=['meters', 'price', 'rooms', 'dealer', 'district'], na_values=['Zapytajocenę'])

In [84]:
df.head(3)

   meters     price  rooms                        dealer district
0    61.8  369000.0      4                Ofertaprywatna      LSM
1    79.0  489000.0      3  PółnocNieruchomościFranczyza      LSM
2    60.0  375000.0      3                PrestigeBroker   Węglin

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2695 entries, 0 to 2694
Data columns (total 5 columns):
meters      2695 non-null float64
price       2537 non-null float64
rooms       2695 non-null int64
dealer      2619 non-null object
district    2695 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 105.4+ KB

In [87]:
pd.value_counts(df['dealer'].values)[0:30]

3KLUCZEs.c.                               319
CLIVUSNieruchomości                       217
FRANCZEWSKANieruchomościs.c.              154
4tepiętro                                 147
Arena                                     118
Ofertaprywatna                            101
LUKsp.zo.o.SKA                             98
BiuroNieruchomościKWADRAT                  96
HomeBrokerS.A.                             86
BIGCITYBROKER                              77
LubelskieMieszkania                        68
Lokum                                      66
LUKJacekWysokiński                         62
HERMESHOUSE                                59
WMNieruchomości                            59
ŻagielDomSp.zo.o.                          58
NieruchomościLalakPropertiesSpzo.o.SKA     48
Alfahouse                                  43
InvestorNieruchomościFranchise             41
ExpressHouse                               40
StrefaM                                    36
PółnocNieruchomościFranczyza               35
BESTHOUSENieruchomości                     32
Login-HouseNieruchomości                   29
SzymanekNieruchomościSp.zo.o.              28
PrestigeBroker                             23
M-HOUSENieruchomości                       22
geoDOMNieruchomości                        22
MetrohouseLublin                           19
WGNBiuroNieruchomościLublin                19
dtype: int64

In [88]:
df["district"].value_counts()[0:20]

Wrotków            345
Czuby              299
Węglinek           294
Śródmieście        198
Czechów            171
Bronowice          158
LSM                151
Felin              141
Dziesiąta          124
Centrum             97
lubelskie           87
Sławin              69
Wieniawa            67
Kośminek            59
Sławinek            56
Kalinowszczyzna     56
Ponikwoda           50
Szerokie            36
Zana                27
Bazylianówka        26
Name: district, dtype: int64